/* Introduction To Flexbox */
body {
    background-color: lightgreen;
}
.header {
    height: 120px;
    border: 5px solid blue;
    display: flex;
    justify-content: center;
}
.leftbox,
.rightbox {
    margin: 8px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    width: 556px;
    height: 80px;
    border: 5px solid orange;
    display: flex;
    justify-content: space-around;
}
.middlebox {
    margin: 8px;
    margin-top: 15px;
    margin-left: 1px;
    margin-right: 1px;
    width: 556px;
    height: 80px;
    border: 5px solid orange;
    display: flex;
    justify-content: center;
}
.lbox,
.rbox {
    padding: 5px;
    border: 5px solid red;
    display: flex;
    justify-content: space-around;
    flex: auto;
}
.lbox{
    margin-right: 0px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.rbox{
    margin-left: 0px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.content {
    margin-top: 20px;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.summary {
    height: 410px;
    flex-direction: column;
    gap: 12px;
}
.summary,
.bigbox {
    width: 880px;
    display: flex;
    justify-content: space-around;
}
.bigbox {
    margin-right: 10px;
    height: 400px;
    background-color: lightpink;
    border: 5px solid brown;
}
.upperbox,
.lowerbox {
    height: 188px;
    background-color: lightpink;
    border: 5px solid brown;
    display: flex;
    justify-content: space-around;
}

.footer {
    margin-top: 20px;
    height: 120px;
    border: 5px solid blue;
    display: flex;
    justify-content: center;
}
.fleftbox,
.frightbox {
    margin: 8px;
    margin-top: 16px;
    margin-left: 15px;
    margin-right: 15px;
    width: 577px;
    height: 80px;
    border: 5px solid rgb(8, 74, 115);
    display: flex;
    justify-content: space-around;
}
.fmiddlebox {
    margin: 8px;
    margin-top: 15px;
    margin-left: 1px;
    margin-right: 1px;
    width: 536px;
    height: 80px;
    display: flex;
    justify-content: center;
}
.flbox,
.frbox {
    padding: 5px;
    height: 63px;
    border: 5px solid orange;
    display: flex;
    justify-content: space-around;
    flex: auto;
}
.flbox{
    margin-right: 4px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom:0px;
}
.frbox{
    margin-left: 4px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
}
a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
  }
  p {
    margin: 0px;
    margin-bottom: 8px;
    font-size: 30px;
  }
  .dontflex {
    border: 5px solid green;
    display: flex;
    justify-content: center;
  }
  .ldflex,
  .rdflex {
    padding: 5px;
    width: 550px;
    border: 5px solid rgb(238, 164, 45);
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
  }
  .ldflex {
    margin-right: 10px;
  }